<!--TODO: Create a search page which displays dummy data (list of employees) and allows users to search-->
<!--TODO: (using filter) these data -->
<!--TODO: 4. Build search view (HTML/CSS). Include area to enter search string and area to display search results-->
<!--TODO: 7. Add your controller to this view/html-->
<!--TODO: 8. Use necessary angular directives to display array of objects defined in search.controller.js-->
<!--TODO: 12. Add filtering and animation-->
<!--The ng-controller directive tells Angular the scope of the controller. In this case, the SearchCtrl is given
the scope of the <div> element where it is called. We then use SearcCtrl (as ctrl) to manipulate elements within
this <div>-->
<!--TODO: 7.1 Attach controller to this outermost <div>-->
<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Employee Management System
            <small>Search</small>
        </h1>
    </div>
    <br/>

    <!--Search UI-->
    <!--TODO: 4.1 Create the input field for user to enter search string -->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="empName" class="form-control" type="text"
                   name="empName"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter employee info">
        </div>
    </form>
    <hr>
    <!--TODO: 4.2 Create the area (in our case table) to display search result (employee details)-->
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Employee No</th>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <!--TODO: 8.1 Display contents of vm.employees-->
        <!--TODO: 12.1 Use contents of ctrl.queryString to filter what to display-->
        <!--ng-repeat directive repeats an HTML element a number of times. The syntax ng-repeat = "x in y" allows us
        to iterate through an array or object. In the case below, we are iterating through the contents of the array
        of objects ctrl.departments, dept is assigned an instance (i.e, an object) of the array-->
        <tr class="animation" ng-repeat="emp in ctrl.employees | filter:ctrl.queryString">
            <td>{{emp.empNo }}</td>
            <td>{{ emp.empFirstName }}</td>
            <td>{{ emp.empLastName }}</td>
            <td>{{ emp.empPhoneNumber }}</td>
        </tr>
        </tbody>
    </table>
</div>